<launch>
    <!-- IMU relay from linorobot_msgs/Imu to sensor_msgs/Imu -->
    <node pkg="imu_calib" type="apply_calib" name="apply_calib" output="screen" respawn="false">
        <param name="calib_file" value="$(find sodacan)/param/imu/imu_calib.yaml" />
        <param name="calibrate_gyros" value="true" />
    </node>

    <!-- Filter and fuse raw imu data -->
    <node pkg="imu_filter_madgwick" type="imu_filter_node" name="imu_filter_madgwick" output="screen" respawn="false" >
	    <rosparam command="load" file="$(find ros_mapping)/params/madgwick_fusion.yaml" />
    </node>

</launch>
